* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
   
  }

 

.description{
    width : 800px;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid black;
}

.descriptionInput{
    height : 150px;
    width : 600px;
    border: 1px solid black;
    display: inline-block;
   
 
}

.radio-buttons{
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    padding-top: 10px;
    margin-left: 30px;
}

.bookmark-lists{
    list-style: none;
}
.title-url-button{
 
}
.form-label{
 
}

h2{
    display: inline-block;
    text-align: right;

    float: right;
    
}

.header-text{
    width: 750px;
    height: 50px;
    display: inline-block;

}

.input-radio{
    border: solid 1px black;
    width : 800px;
}

main{
    margin: 0px 50px;
}