* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
   
  }

 

.description{
    width : 800px;
    margin-top: 30px;
    display: inline-block;
}

.descriptionInput{
    height : 150px;
    width : 600px;
    display: inline-block;
   
 
}

.radio-buttons{
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
    padding-top: 10px;
    margin-left: 30px;
}

.bookmark-lists{
    list-style: none;
    margin-bottom: 80px;
    padding: 20px;
    border: solid 1px grey;
    width: 65%;
    
}

.list-item-element{
    color: black;
    border: solid 2px grey;
    height : 225px;
}
.title-url-button{
 
}
.form-label{
 
}

h2{
    display: inline-block;
    text-align: right;

    float: right;
    
}

.header-text{
    width: 750px;
    height: 50px;
    display: inline-block;

}

.input-radio{
    border: solid 1px grey;
    width : 800px;
    color: lightblue;
}

main{
    margin: 0px 50px;
}

.bookmark-item{
    margin: 0 auto;
    padding: 10px;
    height: 60%;
    width: 100%;
    text-align: center;
   
}

.bookmark-item-expanded{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    height: 150px;
    width: 90%;
}

/*
.add-bookmark-button{
    text-align: right;
    background-color: red;
    float: right;
    margin-top: 10px;
}
*/
.bookmark-submit-button{
    display: inline-block;
    text-align: center;
    border: solid 1px black;
    background-color: lightgray;
    float: right;
    margin-top: 20px;
}

.bookmark-submit-button:hover{
    background-color: pink;
}

.url-input{
    width: 390px;
}

.list-description{
    height: 50px;
    border: double grey 6px;
    margin-bottom: 10px;
    display: inline-block;
    width: 40%;
  
}




.bookmark-item-description{
    height: 150px;
}

.ratings{
    color: rgb(56, 137, 184);
}


.list-items{
    margin-top: 80px;
}

.filterArea{
    margin-top: 10px;
    height: 90%;
}

.dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: pink;;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: pink;}